#wraper{
	width:95%;
	margin:20px auto;
}

table td {font-size:10pt}
.readonlytext {border:0px solid #fff;background:none}
input {border:1px solid #888}

#add, #remove, #change_field, #up, #down{
	width:75px;
	height:25px;
	border:1px #999 solid;
	font-size:11px;
	color:#333;
	margin:0px 5px 10px 5px;
}
#change_field{
	font-size:9px;
}
#save, #reset{
	width:60px;
	height:25px;
	border:1px #999 solid;
	font-size:11px;
	color:#333;
	margin:10px 0px 10px 20px;
	border-radius:3px;
}
.field {
	font-weight:bold;
	width:110px;
}