@charset "utf-8";

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(../../common/css/font/opensans.ttf) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	font-family: 'Open Sans', sans-serif;
}

.center_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt !important;
}

table td {
	font-size: 9pt;
	overflow: hidden;
}

div {
	font-size: 9pt
}

input {
	border: 1px solid #888
}

th {
	font-size: 9pt;
	text-align: left;
}

a, h2 a:hover, h3 a:hover {
	color: #0000ff;
	text-decoration: none;
}

a:hover {
	color: #0000ff;
	text-decoration: underline;
}

input[type="button"], button {
	background-color: #378de5;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 5px;
	border: none;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
	min-width: 50px;
	min-height: 25px;
}

input[type="button"]:hover, button:hover {
	background-color: #79bbff;
}

input[type="button"]:active, button:active {
	position: relative;
	top: 1px;
}

input[type="button"]:focus, button:focus {
	outline: 0;
}

._numeric {
	text-align: right
}

.function_title {
	color: #378de5;
	font-size: 16pt;
	font-weight: 550;
	margin-top: 15px;
	margin-bottom: 5px;
}

.ui-dialog-title {
	font-size: 10pt;
	font-weight: bold;
}

.product_filter, .date_filter {
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
	background-color: #E6E6E6;
	padding-right: 5px;
	padding-left: 5px;
}

.filter, .date_input {
	width: auto;
	float: left;
	padding: 1px;
}

.date_input {
	width: 120px;
}

.filter select , .date_input input {
	margin-top: 2px;
	font-size: 12px;
	width: 100%;
}

#tabs {
	clear: both;
}

.input-append .ui-widget input {
	/* width: 97px; */
	/* height: 29px; */
	width: 83%;
}

.editable-input {
	width: auto;
}

.editInline {
	background-clip: content-box;
	background-color: rgba(66, 177, 230, 0.1);
}

.editable-clear-x {
	right: 0%;
}

.input-medium {
	width: 85%;
}

.dataTables_wrapper table {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout: fixed;
	word-wrap: break-word;
}

table.dataTable {
	margin: 0px;
}

.headcol {
	position: absolute;
	width: 230px;
	left: 0;
	top: auto;
	z-index: 100;
	background-color: white;
}

.phase {
	margin-right: 5px;
	width: 60px;
	height: 13px;
	line-height: 13px;
	overflow: hidden;
	padding: 2px;
	float: right;
	font-size: 8pt;
	background: #bbb
}

.OIL, .Oil {
	background: #FBD070;
}

.GAS, .Gas {
	background: #FF9696;
}

.WTR, .W, .Water {
	background: #62CEFB;
}

.rootMain {
	padding-left: 10px;
}

.eu .CodeReadingFrequency, .eu .CodeEventType, .eu .CodeFlowPhase, .eu .CodeAllocType
	{
	width: 115px;
}

.eustatus, .eventType {
	color: #888888;
	border: 1px solid #888888;
	padding: 1px;
	height: 13px;
	line-height: 13px;
	float: right;
	font-size: 8pt;
}

.CodeAllocType {
	display: none
}

.allocation {
	width: 220px;
	float: left;
}

.toolbarAction {
	float: left;
	margin-top: 5px;
}

.actionLink {
	color: gray;
	margin: 5px;
}

.secondaryTable table.dataTable thead th, .secondaryTable table.dataTable thead td
	{
	padding: 10px;
}

.secondaryTable table.dataTable tfoot th, .secondaryTable table.dataTable tfoot td
	{
	padding: 2px;
}

.secondaryTable .UOM, .secondaryTable .Quantity {
	width: 100px;
}

#table_Deferment .THEOR_OIL_PERDAY,#table_Deferment  .THEOR_GAS_PERDAY,#table_Deferment  .THEOR_WATER_PERDAY ,
#table_PdCargoNomination .REQUEST_DATE, #table_PdCargoNomination .REQUEST_QTY , #table_PdCargoNomination .REQUEST_QTY_UOM {
	background-clip: content-box;
	background-color: yellow;
}

#table_Deferment .CALC_DEFER_OIL_VOL,#table_Deferment  .CALC_DEFER_GAS_VOL,#table_Deferment  .CALC_DEFER_WATER_VOL {
	background-clip: content-box;
	background-color: orange;
}

.firstColumn {
	width: 50%;
	float: left;
	height: 100%;
	/* line-height: 100%; */
}

.extraFirstColumn {
	width: 50%;
	float: right;
	height: 100%;
}

.checkboxCell {
	margin-left: 15px;
}

.dataTables_filter{
    margin-top: 5px;
}

.current_job{background-color:#d8ebff;color:#378de5}

#container_preos th {
    white-space: normal;
    /* padding: 1px 1px; */
}

#table_preos{
	width: 150px;
}
.cellnumber {
	text-align: right;
	position: relative;
	overflow: hidden;
}
.editable-container{
	/* float: right; */
}
#tabs_contents .ui-tabs-panel {
   padding-bottom: 0;
}

.dataTables_filter label {
   margin-bottom: 0;
}

.dataTables_filter input {
	margin-bottom: 4px;
}
.dataTables_wrapper .dataTables_info {
    clear: none;
    margin-left: 5px;
}

#table_allocateplan {
   width: 600px;
   margin-left: 0px;
   /* overflow: auto; */
}
#table_allocateplan thead th, #table_allocateplan_action thead th{
	padding: 10px 18px;
	white-space: nowrap;
	border-bottom: 1px solid #111111;
}
#table_allocateplan_action, #container_allocateplan, .extension-buttons{
	float:left;
}
#cboLimit {
	width: 70px;
}
#history_loading,
#box_loading{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
}

.editable-extension {
	/* background-image: url("./images/hist.png"); */
    background-color: rgb(55, 141, 229);
    padding: 4px;
    margin-top: 3px;
    margin-right: 5px;
}

#history_list a{
	color: #0000ff;
}

.nominate{
    margin-left: 15px;
}

#table_PdCargoNomination .NOMINATION_DATE, #table_PdCargoNomination .NOMINATION_QTY,
#table_PdCargoNomination .NOMINATION_UOM ,#table_PdCargoNomination .NOMINATION_ADJ_TIME   {
	background-clip: content-box;
    background-color: #88ff88;
}

#container_PdContract .dataTables_scrollBody,
#container_PdContractDetail .dataTables_scrollBody {
    min-height: 150px;
}

#savebtn span{
padding: 2px 16px;
}

table.dataTable tbody tr.selected,
table.dataTable.display tbody tr.odd.selected,
table.dataTable.display tbody tr:hover.selected, 
table.dataTable.display tbody tr.odd:hover.selected,
table.dataTable.display tbody tr.even:hover.selected
{
	background-clip: content-box;
	background-color: #b6cfff;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    text-align: right;
}

.toolbarAction button{
	margin-left: 5px;
}

#table_PdVoyageDetail_containerdiv .dataTables_scrollFoot {
    position: absolute;
    /* bottom: 4px; */
    z-index: -1;
}
.withAuto{
	width: auto;
}
#table_PdCargo .n_qty,#table_PdCargo .b_qty {
	background-clip: content-box;
    background-color: #ffbbbb;
}
#table_PdCargo .flow_qty{
	background-clip: content-box;
    background-color: #bbffbb;
}	
#table_PdCargo .cal_qty {
	background-clip: content-box;
    background-color: #ffff88;
}	
